:root {
    --color-primary : #303123;
    --color-secundary : #4e8fcc;
    --color-lighter : #eef2f7;
    --color-dark : #5d6269;

    --color-primary-after : #161a1f;
    --color-secundary-after : #4278aa;
    --color-lighter-after : #c3c9cf;
    --color-dark-after : #494d52;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body.dark .border-color {
    border-color: rgba(55,65,81,1);
}
body .border-color {
    border-color: rgba(209,213,219,1);
}
body.dark {
    --color-primary : #eef2f7;
    --color-secundary : #4e8fcc;
    --color-lighter : #232931;
    --color-dark : #eef2f7;

    --color-primary-after : #c3c9cf;
    --color-secundary-after : #4278aa;
    --color-lighter-after : #161a1f;
    --color-dark-after : #eef2f7;
}
* {
    font-family: 'Poppins', sans-serif;
}

.bg-primary {
    background-color: var(--color-primary);
    transition: .5s;
}
.bg-secundary {
    background-color: var(--color-secundary);
    transition: .5s;
}
.bg-lighter {
    background-color: var(--color-lighter);
    transition: .5s;
}
.bg-dark {
    background-color: var(--color-dark);
    transition: .5s;
}

.hover\:bg-primary:hover {
    background-color: var(--color-primary-after);
    transition: .5s;
}
.hover\:bg-secundary:hover {
    background-color: var(--color-secundary-after);
    transition: .5s;
}
.hover\:bg-lighter:hover {
    background-color: var(--color-lighter-after);
    transition: .5s;
}
.hover\:bg-dark:hover {
    background-color: var(--color-dark-after);
    transition: .5s;
}

.text-primary {
    color: var(--color-primary);
    transition: .5s;
}
.text-secundary {
    color: var(--color-secundary);
    transition: .5s;
}
.text-lighter {
    color: var(--color-lighter);
    transition: .5s;
}
.text-dark {
    color: var(--color-dark);
    transition: .5s;
}

.hover\:text-primary:hover {
    color: var(--color-primary-after);
    transition: .5s;
}
.hover\:text-secundary:hover {
    color: var(--color-secundary-after);
    transition: .5s;
}
.hover\:text-lighter:hover {
    color: var(--color-lighter-after);
    transition: .5s;
}
.hover\:text-dark:hover {
    color: var(--color-dark-after);
    transition: .5s;
}

.selected {
    color: var(--color-secundary);
    transition: .5s;
}

.box-shadow {
    box-shadow: 0px 15px 20px var(--color-primary)
}

.home__blob {
    fill: var(--color-secundary);
}
.container {
    padding-left:  1.5rem;
    padding-right:  1.5rem;
    width: 100%;
    max-width: 100%;
}

.navbar__menu {
    transition: .5s;
    bottom: 50%;
}
.show-menu {
    opacity: 1;
    pointer-events: all;
    bottom: 100%;
}

.home__scroll {
    animation: scrollDown 1.5s infinite ease-in-out;
}
@keyframes scrollDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
input[type="radio"] + label + div {
    max-height: 0;
    transition: .5s;
}
input[type="radio"]:checked + label > svg {
    transform: rotateZ(180deg);
}
input[type="radio"]:checked + label + div.skills__tab-content {
    max-height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media ( min-width: 640px ) {
    .sm\:box-shadow-none {
        box-shadow: none;
    }
    body .border-color {
        border-color: transparent !important;
    }
}
@media (min-width: 768px) {
    .container {
        padding-left:  3.5rem;
        padding-right: 3.5rem;
    }
}
@media (min-width: 1024px) {
    .container {
        padding-left:  5rem;
        padding-right: 5rem;
    }
}

/*SWIPER JS*/
.swiper-button-prev:after,
.swiper-button-next:after{
    content: '';
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}