---
import { fade } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';
import imgBudged from '../assets/img/1-budget.png';
import imgNunawara from '../assets/img/2-nunawara.png';
import imgCapuli from '../assets/img/3-capuli.png';
import { Image } from 'astro:assets';
---

<Layout title='Inicio' description='Esmith Alama Sanchez'>
	<section class="w-full flex flex-col md:flex-row md:items-start mx-auto space-x-0 lg:space-x-24 pr-0 md:pr-24" transition:animate={fade({duration: "2.5s"})}>
		<div class="w-24 flex flex-row md:flex-col md:justify-center items-center md:flex-wrap">
			<h2 class="flex justify-center items-center pr-5 md:pr-0 w-16 h-10 sm:w-16 sm:h-16 md:w-24 md:h-24 text-3xl sm:text-5xl md:text-7xl text-gray-800 border-r-2 border-gray-600 md:border-r-0 md:border-transparent">01</h2>
			<span class="hidden md:inline-block md:border-t-2 border-gray-600 w-16"></span>
			<span class="hidden md:inline-block border-l-2 border-gray-600 h-24 mt-5 mb-10"></span>
			<p class="relative md:-rotate-90 ml-5 sm:ml-10 md:ml-0">
				<span class="relative z-10 text-xl md:text-base uppercase tracking-widest md:font-semibold text-gray-800">Home</span>
				<span class="mt-4 md:mt-0 absolute left-0 z-0 px-10 md:px-8 -ml-1 w-full h-3 bg-blue-400 inline-block"></span>
			</p>
		</div>
		<div class="bg-gray-100 w-full mt-8 sm:mt-14 md:mt-0 p-10">
			<p class="text-gray-600">Hi, I'm</p>
			<h1 class="text-4xl sm:text-5xl md:text-6xl text-gray-900">Esmith Sanchez</h1>
			<h2 class="text-gray-400 text-sm">Software Developer</h2>
			<p class="text-gray-600 text-xs md:text-sm mt-2">
				"Desarrollador de software<br/> con capacidad de aprender y dominar nuevas tecnologías"
			</p>
			
			<p class="text-xs mt-14 text-gray-600 italic">~Proyectos</p>
			<div class="flex mt-2 space-x-5">
				<div class="w-40 h-32 sm:h-40 relative">
					<div class="w-full h-full absolute bg-gray-800 bg-opacity-75 cursor-pointer hover:bg-opacity-20 transition duration-200"></div>
					<Image src={imgBudged} alt="imgBudged" class="w-full h-full object-cover object-center ">
				</div>			
				<div class="w-40 h-32 sm:h-40 relative">
					<div class="w-full h-full absolute bg-gray-800 bg-opacity-75 cursor-pointer hover:bg-opacity-20 transition duration-200"></div>
					<Image src={imgNunawara} alt="imgNunawara" class="w-full h-full object-cover object-center ">
				</div>
				<div class="w-40 h-32 sm:h-40 relative hidden sm:block">
					<div class="w-full h-full absolute bg-gray-800 bg-opacity-75 cursor-pointer hover:bg-opacity-20 transition duration-200"></div>
					<Image src={imgCapuli} alt="imgCapuli" class="w-full h-full object-cover object-center ">
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	
</style>
